project_name = "playground"
environment = "dev"
owner = "DevOps"
vpc_cidr = "10.0.0.0/16"
domain_name = "cloud.hiramlabs.com"
aws_region = "eu-west-2"
ssh_public_key = "~/.ssh/shared/id_ed25519.pub"
use_nat_gateway = false
use_alb_waf = false
alert_email = ""
log_retention_days = {
  dev     = 3
  staging = 7
  prod    = 30
}
autoscale_max_capacity = 5
web_sg_attr = {
  http  = 80
  https = 443
}
db_sg_attr = {
  mongo    = 27017
  postgres = 5432
  redis    = 6379
}
public_task_definitions = {
  public_service_01 = {
    path                 = "modules/ecs/task-definitions/public/service_01.json"
    cpu                  = 256
    memory               = 512
    entry_container_name = "nginx"
    entry_container_port = 80
    is_entry_container   = true
  }
}
private_task_definitions = {
  private_service_01 = {
    path = "modules/ecs/task-definitions/private/service_01.json"
    cpu                  = 256
    memory               = 512
  }
}
